/*
 * General Styling
 */
body {
  transition: 0.2s ease;
  text-align: center;
  background-color: #e5f7ff;
}
/* 
body.success {
  background-color: #b7f0b7;
  transition: 0.2s ease;
}

body.warning {
  background-color: #f0b7b7;
  transition: 0.2s ease;
} */

/* center everything in game container */
.maze-container {
  margin: 0px auto;
}

/*
 * Map screen
 */

.maze-map {
  position: relative;
  background-image: url(line.png);
  background-size: 96% 96%;
  background-repeat: no-repeat;
  background-position: center;
}

/*
 * Output text styles
 */

p {
  margin: 10px 0px;
  padding: 0px;
}

/*
 * Map on left, controls on right
 * Adapted for the mobile Medium app
 */
#map-and-controls {
  display: flex;
  justify-content: center;
}

/*
 * Controls
 */

.controls-container {
  display: flex;
  align-items: center;
}

#controls {
  margin-left: 10px;
  text-align: center;
}

/*
 * Container for right and left buttons
 */
#controls #horiz {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  margin-bottom: -50px;
  gap: 40px;
}

/* 
 * General button styles
 */
#controls button {
  margin-top: 10px;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
}

#controls button img {
  width: 120px;
  height: 120px;
}

/* disabled state */
#controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*
 * Spacing between horiz buttons
 */
button#right {
  margin-left: 5px;
}

button#left {
  margin-right: 5px;
}

/*
 * General button arrow styles
 */
#controls button::before {
  width: 0px;
  position: absolute;
}

/*
 * Specific Arrow Styles
 */
button#left::before {
  border-top: 10px solid transparent;
  border-right: 15px solid #000;
  border-bottom: 10px solid transparent;
  left: 10px;
  top: 9px;
}

button#right::before {
  border-top: 10px solid transparent;
  border-left: 15px solid #000;
  border-bottom: 10px solid transparent;
  left: 12px;
  top: 9px;
}

button#up::before {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid #000;
  left: 9px;
  top: 9px;
}

button#down::before {
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 15px solid #000;
  left: 9px;
  top: 12px;
}

#success-msg {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: calc(100% - 8px);
}

body.success #success-msg {
  opacity: 1;
  transition: opacity 0.2 ease;
}

#warning-msg {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: calc(100% - 8px);
}

body.warning #warning-msg {
  opacity: 1;
  transition: opacity 0.2 ease;
}

/*
 * Layers and tiles are positioned absolutely
 * within coordinate system of .maze-map 
 */
div.layer,
div.layer div {
  position: absolute;
}

/* border for floors and wall */
#tiles div {
  border: 0;
}

/*
 * Default wall and floor styles
 */

.default .floor {
  background-color: rgba(255, 255, 255, 0.1);
}

.default .wall {
  background-color: rgba(0, 0, 0, 0.1);
}

/*
 * grassland theme  
 */
.grassland .floor {
  background-color: #7bb76d;
}

.grassland .wall {
  background-color: #806d51;
}

.grassland #player {
  background-color: #b2ccec;
}

/* 
 * dungeon theme
 */
.dungeon .floor {
  background-color: darkgrey;
}

.dungeon .wall {
  background-color: #9c649c;
}

.dungeon #player {
  background-color: #ab1431;
}

/*
 * player and goal are slightly smaller than tiles
 */
.player,
.goal {
  transform-origin: center;
  transform: scale(0.8);
}

/*
 * Goal colors
 */
.goal {
  background-image: url("shell.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*
 * Obstacle colors
 */
.obstacle {
  background-image: url("wave.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/*
 *  Player default colors
 */
.player {
  background-image: url(cruise-ship.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 75px !important;
  height: 50px !important;
  margin-left: -15px;
  transition: left 0.2s ease, top 0.2s ease;
}

/*
 * Player wobbles when colliding with wall or border
 */
.player.collide {
  animation: wobble 0.5s;
  animation-iteration-count: infinite;
  transition: background-color 0.2s;
}

/* 
 * Wobble animation
 */
@keyframes wobble {
  0% {
    transform: scale(0.85) translate(1px, 1px);
  }

  10% {
    transform: scale(0.85) translate(-1px, -2px);
  }

  20% {
    transform: scale(0.85) translate(-3px, 0px);
  }

  30% {
    transform: scale(0.85) translate(3px, 2px);
  }

  40% {
    transform: scale(0.85) translate(1px, -1px);
  }

  50% {
    transform: scale(0.85) translate(-1px, 2px);
  }

  60% {
    transform: scale(0.85) translate(-3px, 1px);
  }

  70% {
    transform: scale(0.85) translate(3px, 1px);
  }

  80% {
    transform: scale(0.85) translate(-1px, -1px);
  }

  90% {
    transform: scale(0.85) translate(1px, 2px);
  }

  100% {
    transform: scale(0.85) translate(1px, -2px);
  }
}
